html,
body,
.view
{
	height: 100%;
}

.navbar
{
	/*background-color: #3b295a;*/
}

.carousel,
.carousel-item,
.carousel-img,
.active
{
	height: 100%;
}

.carousel-inner
{
	height: 100%;
}

.carousel-img
{
	background-repeat: no-repeat;
	background-size: cover;
}