#loadingBg {
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    background: #ff0000;
    opacity: 0.6;
}
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px 20px;
    margin: -70px 0 0 -220px;
    background: #ffffff;
}
#loading #percent {
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
}
#loading #gauge {
    width: 0px;
    height: 5px;
    background: #000000;
}


/* 共通 */
html,
body,
.view
{
	height: 100%;
}

main {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

footer.page-footer
{
	/*margin-top: -1px;*/
}

.color-primary {
	background-color: #00838f !important;
}

.color-primary-text {
	color: #00838f !important;
}

/* ナビゲーションバー */
.navbar {
	background-color: transparent;
}

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
 	background-color: #1C2331;
}

/* カルーセル */
.carousel,
.carousel-item,
.carousel-img,
.active
{
	height: 100%;
}

.carousel-inner
{
	height: 100%;
}

.carousel-img
{
	background-repeat: no-repeat;
	background-size: cover;
}
